.table-container {
  border: none;
  box-shadow: none !important;
  cursor: pointer;
  max-height: 100vh;
  overflow-y: scroll;
}



.profileMenu {
  cursor: pointer;

  font-size: 15px !important;
  font-weight: 800 !important;
  text-decoration: none;
  color: #5353e7;
  transition: color 0.3s;
  &:hover {
    color: #010101;
  }
}

.headerName {
  font-weight: bold !important;
  margin: 2px !important;
  font-size: 16px !important;
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover {
    color: #2264ff;
  }
}

.stockName {
  font-weight: bold !important;
  margin: 4px !important;
  font-size: 18px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile {
  position: relative;
  color: blue;
  font-weight: bold !important;
  margin: 4px 0px 0px 4px !important;
  cursor: pointer;
}

.profileMenu-item {
  position: absolute;
  margin-left: 100px;
  top: 24px;
  left: 0;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

// border: 1px solid;
//   text-align: center;
//   background-color: #F0F8FF;
//   border-radius: 5px;
//   margin-right: 17px;
