* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darkBlue: #c2e5f0;
  --lightBlue: #1c74e91a;
  --lightGreen: #e6f4ea;
  --darkGreen: rgb(19, 115, 51);
  --lightRed: #f7e5df;
  --darkRed: rgb(240, 17, 9);
  font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', sans-serif;
}

body {
  background-color: #fefeff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--lightBlue);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--darkBlue);
  border-radius: 8px;
  border: 1px solid var(--lightBlue);
  transition: background-color 0.3s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkGreen);
}

body {
  scrollbar-color: var(--darkBlue) var(--lightBlue);
}

body::-moz-scrollbar-track {
  background: var(--lightBlue);
}

html {
  scroll-behavior: smooth;
}
